<a href="https://colab.research.google.com/github/MakonorDaniel/Health_And_Hospital_Data_Analysis/blob/main/Hospital_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd
import matplotlib.pyplot as plot
import os, sys
import datetime

In [29]:
merged_df = pd.read_csv('/content/merged_df.csv')

In [30]:
first_query = merged_df[["created_at_hospital", "patient_id"]].groupby('created_at_hospital').count().add_prefix("No_of_").reset_index()

In [31]:
first_query

   created_at_hospital  No_of_patient_id
0           2021-05-01                13
1           2021-05-02                10
2           2021-05-03                28
3           2021-05-04                13
4           2021-05-05                31
..                 ...               ...
86          2021-07-26                32
87          2021-07-27                24
88          2021-07-28                38
89          2021-07-29                26
90          2021-07-30                19

[91 rows x 2 columns]

In [37]:
# merged_df = plot.bar(x='created_at_hospital', y='No_of_patient_id', figsize= (20,8))

In [39]:
second_query = merged_df[["patient_id", "patient_name", 'doctor_id', 'hospital_visit_month']].groupby(['doctor_id', 'hospital_visit_month',"patient_name"]).count().add_prefix("No_of_patient_id")

In [40]:
second_query

                                                                                            No_of_patient_idpatient_id
doctor_id                hospital_visit_month patient_name
3TB6T8CT/m/sBtYXy8XpTg== Jul                  1vbeI+TzP2v2CHMaWSdVpSrbwzihSJv//7eqjZk2nOs=                           1
                                              5CyNu5QdzU2WJCA+hskS9XZQxHZOA+FhIEpjlT9+jtQ=                           1
                                              9TuSI17gA+HXhKeh4ibaJJwWY6CNXqgICDFsMHUunPk=                           1
                                              GKQINGs2vns7Ocrd9x/FAMAm6jdgzGUNgPFtdjrI8g4=                           1
                                              JBobAv4PTG4yh+FFtt4p20cVxsY3wBA+rmbT5zqD2QE=                           1
...                                                                                                                ...
yLvV4o7K0RwRSibznUFaCg== May                  jam9iVF0OGJ7iXEo9qFZ+ImmRWfTq8IfWyjQhtm+VTA=                           1
                                              nLrObPPpb2WnJX1S7Ydy9LiHPReDWyiZNlF1Rj2B8DE=                           1
                                              nrp4OiQyFQWCIWJB306xbrLRah87iZ0+eNeu6LF+sO4=                           1
                                              tQ/rDqu8bDyAJf/PnxQZnVu3/F+1zht1IUWuBx3I5ss=                           1
                                              wkHAaPpfmH0S2on8iu4iDkzL2F79CqrHU5AmzDpK5/M=                           1

[1271 rows x 1 columns]

In [42]:
res = merged_df[["patient_id", 'sex', 'hospital_visit_month']].groupby(['hospital_visit_month',"sex"]).count().add_prefix("No_of_").reset_index()
		
res = res.pivot(index='hospital_visit_month', columns='sex', values='No_of_patient_id')
		
res = (res['female'] / res['male']).rename('ratio').reset_index()

In [43]:
res

  hospital_visit_month     ratio
0                  Jul  1.361702
1                  Jun  1.424528
2                  May  1.580952